html {
    overflow-y: scroll; 
}

.page {
	padding-top: 20px;
}

h1 a:hover {
	text-decoration: none;
}

.question-row {
	display: table;
}

.questions-left {
	min-height: 300px;
	border-right: 1px solid #ddd;
	float: none;
    display: table-cell;
    vertical-align: top;
}

.questions-right {
	 float: none;
    display: table-cell;
    vertical-align: top;
}

.lastround {
	border-top: 1px solid #ddd;
}

.answer-list li {
	border-top: 1px solid #eee;
}

.answer-list {
	list-style-type: none;
	padding: 0;
}

.answer-list .btn-group .btn {
	padding-left: 7px;
	padding-right: 7px;
	font-weight: bold;
}

.answer-list li {
	height: 22px;
}

.main-info {
  padding: 40px 15px;
  text-align: center;
}

.question-text {
	white-space: pre-wrap;
}