html {
    overflow-y: scroll; 
}

.page {
	padding-top: 20px;
}

h1 a:hover {
	text-decoration: none;
}

.questions-left {
	min-height: 300px;
	border-right: 1px solid #ddd;
}

.lastround {
	border-top: 1px solid #ddd;
}